@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --waw-navy: #1a2456;
  --waw-red: #d32f2f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
